@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

* {
  margin: 0;
  padding: 0;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  font-family: 'Crete Round', serif;
}

.first h2 {
  position: relative;
  font-size: 3.5em;
  font-weight: 900;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}

.first h2:before {
  content: '';
  position: absolute;
  left: -20%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
  animation: oppening 4s ease-out forwards;
  animation-delay: 0.7s;
}

.first .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: screen;
}

.broken {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 300vh;
}

.broken .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/logo.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #4f6d7a;
}

section .side#side1 {
  clip-path: polygon(
    0% 0%,
    46% 0%,
    67% 9%,
    25% 27%,
    69% 33%,
    39% 45%,
    57% 56%,
    27% 68%,
    55% 81%,
    28% 87%,
    54% 92%,
    43% 100%,
    0% 100%
  );
}

section .side#side2 {
  clip-path: polygon(
    100% 0%,
    46% 0%,
    67% 9%,
    25% 27%,
    69% 33%,
    39% 45%,
    57% 56%,
    27% 68%,
    55% 81%,
    28% 87%,
    54% 92%,
    43% 100%,
    100% 100%
  );
}

#message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Crete Round', serif;
}

#message h2 {
  color: #dbe9ee;
  font-size: 3.5em;
  font-weight: 900;
  animation: breath 2s ease-out both infinite;
}

.App {
  height: 300vh;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: auto;
  width: 100%;
  background: yellow;
  opacity: 0%;
}

.me {
  border-bottom: solid 4px black;
}

@keyframes oppening {
  from {
    left: -20%;
  }
  to {
    left: 100%;
  }
}

@keyframes breath {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100%;
    font-size: 4em;
  }

  100% {
    opacity: 0;
  }
}
